/* common */
.flex {
  display: flex;
}
body,
head {
  margin: 0;
}

/* MENU STYLE */

body {
  overflow-x: hidden;
}
.menu-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 8.563rem;
  background-color: #5769df;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
  flex: 1;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  padding: 10px;
  margin-right: 40px;
  list-style: none;
}

.menu-list > li > a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}

/* ---------------------------------------------------- */

/* COLOR */
.holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.color-holder {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.color-head-holder {
  display: flex;
  width: 100%;
  flex: 1;
  font-size: 1.5rem;
  align-items: center;
  flex-flow: wrap;
  justify-content: left;
  padding-left: 1rem;
  font-family: "Fredoka One", cursive;
}

.color {
  margin: 30px;
}

/* SIENNA */

.sienna {
  position: relative;
  display: flex;
  height: 30rem;
  width: 30rem;
  background-color: #e87c4b;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.sienna > p {
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.color-1 > p {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* ROYAL BLUE */

.royal {
  position: relative;
  display: flex;
  height: 30rem;
  width: 30rem;
  background-color: #5769df;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.royal > p {
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.color-2 > p {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* MELROSE */

.melrose {
  position: relative;
  display: flex;
  height: 30rem;
  width: 30rem;
  background-color: #adbaff;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.melrose > p {
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.color-3 > p {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* SINBAD */

.sinbad {
  position: relative;
  display: flex;
  height: 30rem;
  width: 30rem;
  background-color: #afddcd;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.sinbad > p {
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.color-4 > p {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* CHEROKEE */

.cherokee {
  position: relative;
  display: flex;
  height: 30rem;
  width: 30rem;
  background-color: #ffeaad;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.cherokee > p {
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.color-5 > p {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/* MINE */

.mine {
  position: relative;
  display: flex;
  height: 30rem;
  width: 30rem;
  background-color: #393939;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.mine > p {
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.color-6 > p {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
/* SECOND COLOR SECTION */

.color-holder-2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-description {
  display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
}

.first-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  padding: 0rem 5rem;
  margin-left: 1rem;
}

.second-row {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5rem 0rem;
  font-family: "Poppins", sans-serif;
}

.color-hold {
  margin: 0rem 1rem;
}

.color-hold > p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

/* SECOND COLOR */

/* INSIDE COLOR */
.sienna-circle {
  height: 1rem;
  width: 1rem;
  background-color: #e87c4b;
  border-radius: 50%;
  border: solid black 5px;
}

.royal-circle {
  height: 1rem;
  width: 1rem;
  background-color: #5769df;
  border-radius: 50%;
  border: solid black 5px;
}

.melrose-circle {
  height: 1rem;
  width: 1rem;
  background-color: #adbaff;
  border-radius: 50%;
  border: solid black 5px;
}

.sinbad-circle {
  height: 1rem;
  width: 1rem;
  background-color: #afddcd;
  border-radius: 50%;
  border: solid black 5px;
}

.cherokee-circle {
  height: 1rem;
  width: 1rem;
  background-color: #ffeaad;
  border-radius: 50%;
  border: solid black 5px;
}

.mine-circle {
  height: 1rem;
  width: 1rem;
  background-color: #393939;
  border-radius: 50%;
  border: solid black 5px;
}

/* THIRD ROW */
.color-holder-3 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.phone-section {
  margin: 10rem;
}
.phone-section > img {
  margin: 1rem;
}

/* BUTTON COLORS */

.color-holder-4 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5769df;
}

.button-section-color {
  display: flex;
  width: 100%;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  justify-content: center;
}

.button-image {
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem;
  justify-content: center;
  align-items: center;
}

.button-color-text {
  font-size: 1.5rem;
}

.button-demo-text {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.button-demo-text {
  margin-top: 10rem 0rem;
}

.demo-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.hoverbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 6rem;
  border-radius: 10px;
  background-color: #e87c4b;
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.hoverbutton2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 6rem;
  border-radius: 10px;
  background-color: #8492ed;
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.hoverbutton2:hover {
  background-color: #98a4f3;
}

.hoverbutton2:active {
  background-color: #afbaff;
  border: solid 5px #8492ed;
}
.hoverbutton:hover {
  background-color: #e8936c;
}

.hoverbutton:active {
  background-color: #eea381;
  border: solid 5px #e8936c;
}

/* ---------------------------------------------------- */
/* typo */

/* subMenu */
#subMenu_container {
  width: 100%;
  margin-bottom: 5rem;
}
#subMenu_inner {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.subNav {
  width: 100%;
  height: 6.25rem;
  padding-left: 0;
  margin: 0;
}
.subNav li {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 6.25rem;
}

.subNav li:first-child {
  border-left: solid 1px #bdbdbd;
  border-right: solid 1px #bdbdbd;
  border-bottom: solid 1px #bdbdbd;
  box-sizing: border-box;
}
.subNav li:last-child {
  border-right: solid 1px #bdbdbd;
  border-bottom: solid 1px #bdbdbd;
  box-sizing: border-box;
}

.subNav a {
  display: block;
  font-size: 2rem;
  color: black;
  text-decoration: none;
}

.subNav a:hover {
  color: #5769df;
  text-decoration: underline;
}
.subNav a:focus {
  text-decoration: underline;
}

.subNav a:hover {
  color: #5769df;
}
/* .subNav a.active{
    color: #5769DF;
    text-decoration: underline;
} */

ul {
  list-style: none;
  display: block;
}

.fredoka {
  font-family: "Fredoka One", cursive;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.typo_content > p,
h1 {
  margin-left: 6.25rem;
}
.typo {
  font-size: 48px;
  margin-top: 3.75rem;
}

.typo_content > h1 {
  font-size: 144px;
}
.reason,
.usage {
  font-size: 38px;
  margin-bottom: 6rem;
}

.examples {
  font-size: 40px;
  margin-bottom: 4.375rem;
}

.fredoka_logo {
  color: #5769df;
  margin-top: 10rem;
}
.eg_text {
  margin-left: 6.25rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.fredoka_second {
  background-color: #5769df;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.poppins_first {
  color: #393939;
  font-weight: 900;
}
.poppins_second {
  color: #000000;
  font-weight: 400;
}

.color_examples {
  margin-left: 6.25rem;
  margin-bottom: 6.25rem;
}
.color_examples_2 {
  margin-left: 9rem;
  margin-bottom: 6.5rem;
}
.color_examples_3 {
  margin-left: 3.438rem;
  margin-bottom: 6.5rem;
}

.circle {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  margin-right: 6.25rem;
  /* margin-bottom: 6.25rem;
    margin-top: 6.25rem; */
}

.text {
  margin-right: 6.25rem;
  align-items: center;
}

.text > p {
  margin-top: 0;
  margin-bottom: 0.6rem;
  text-align: center;
}

.textLeft > p {
  text-align: left;
}

.purple {
  font-size: 36px;
}
.white {
  font-size: 32px;
}
.blackFirst {
  font-size: 30px;
}
.blackSecond {
  font-size: 25px;
}

.firstPoppins {
  font-size: 34px;
}
.secondPoppins {
  font-size: 25px;
}
.thirdPoppins {
  font-size: 18px;
}
.fourthPoppins {
  font-size: 16px;
}
.fifthPoppins {
  font-size: 14px;
}
.sixthPoppins {
  font-size: 11px;
}

.purple_bg {
  background-color: #5769df;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.white_bg {
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.lightBlack_bg {
  background-color: #393939;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.black_bg {
  background-color: #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.flexRight {
  display: flex;
  justify-content: flex-end;
}
.center {
  align-items: center;
}

/* ICONOGRAPHY */
.icon-container {
  font-family: "poppins", sans-serif;
  margin-left: 6.25rem;
  margin-top: 4rem;
}

.icon-container > h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.icon {
  display: flex;
}

.icon > img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.icon-lists {
  padding: 0;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon {
  font-size: 1.5rem;
  color: #5a5a5a;
  margin-bottom: 6rem;
  align-items: center;
}

/* IMAGERY */

.imagery-container {
  margin-left: 6.25rem;
  margin-top: 6rem;
  font-family: "poppins", sans-serif;
}

.imagery-container > h3 {
  font-size: 2.5rem;
}

.imagery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 65vw;
  margin: auto;
  grid-gap: 6rem 2rem;
  margin-bottom: 4rem;
  margin-top: 7rem;
}

.sign,
.mask,
.spoon {
  margin-top: 2.5rem;
}

/* ---------------------------------------------------- */
/* logo */
.logo-header {
  display: block;
  font-size: 3rem;
  color: black;
  font-family: "Fredoka One", sans-serif;
  margin-left: 6.25rem;
}

.logo-sub {
  display: block;
  font-size: 2.5rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-left: 6.25rem;
  margin-bottom: 2rem;
}

.logo-description {
  display: block;
  font-size: 1.5rem;
  color: black;
  font-family: "Poppins", sans-serif;
  margin-left: 6rem;
  margin-right: 6rem;
}

.criteria {
  margin-left: 6rem;
  margin-right: 6rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  display: flex;
}

.criteria .text {
  margin-right: 15rem;
  font-size: 1.5rem;
  color: black;
  font-family: "Poppins", sans-serif;
}

.criteria p {
  text-align: left;
}

.black-white {
  margin-left: 6rem;
  margin-right: 6rem;
  color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.black-white .text {
  font-size: 1.25rem;
  color: black;
  font-family: "Poppins", sans-serif;
}

.black-white .logo {
  margin-right: 15rem;
}

.colour {
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colour img {
  margin-right: 10rem;
}

.dos-donts {
  font-family: "Poppins", sans-serif;
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
}

.dos-donts .sub {
  font-size: 2rem;
}

.dos-donts p {
  font-size: 1.5rem;
  padding-right: 15rem;
}

.variations {
  display: flex;
  justify-content: space-evenly;
}

.main-logo {
  display: flex;
  justify-content: center;
}
