/* common */
.flex{
    display: flex;
}
body, head{
    margin: 0;
}

/* MENU STYLE */

body {
    overflow-x: hidden;
}
.menu-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 8.563rem;
    background-color: #5769DF;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 2.5rem;
    flex: 1;
}


.menu-list {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    padding: 10px;
    margin-right: 40px;
    list-style: none;
}

.menu-list > li > a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}


/* ---------------------------------------------------- */

/* COLOR */
.holder {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.color-holder {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}



.color-head-holder {
    display: flex;
    width: 100%;
    flex: 1;
    font-size: 1.5rem;
    align-items: center;
    flex-flow: wrap;
    justify-content: left;
    padding-left: 1rem;
    font-family: 'Fredoka One', cursive;
}

.color {
    margin: 30px;
}






/* SIENNA */

.sienna {
    position: relative;
    display: flex;
    height: 30rem;
    width: 30rem;
    background-color: #E87C4B;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;

}

.sienna > p {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.color-1 > p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}


/* ROYAL BLUE */

.royal {
    position: relative;
    display: flex;
    height: 30rem;
    width: 30rem;
    background-color: #5769DF;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;

}

.royal > p {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.color-2 > p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* MELROSE */

.melrose {
    position: relative;
    display: flex;
    height: 30rem;
    width: 30rem;
    background-color: #ADBAFF;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;

}

.melrose > p {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.color-3 > p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* SINBAD */

.sinbad {
    position: relative;
    display: flex;
    height: 30rem;
    width: 30rem;
    background-color: #AFDDCD;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;

}

.sinbad > p {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.color-4 > p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* CHEROKEE */

.cherokee {
    position: relative;
    display: flex;
    height: 30rem;
    width: 30rem;
    background-color: #FFEAAD;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;

}

.cherokee > p {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.color-5 > p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* MINE */

.mine {
    position: relative;
    display: flex;
    height: 30rem;
    width: 30rem;
    background-color: #393939;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;

}

.mine > p {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.color-6 > p {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* SECOND COLOR SECTION */

.color-holder-2 {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.color-row {
    margin: 2rem;
    display: flex;
    width: 100%;
    height: 20rem;
    flex-direction: column;
}

/* FIRST COLOR */
.color-circle {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.color-content {
    display: flex;
    flex: 6;
    justify-content: center;
    align-items: center;
}


.second-row {
    background-color: #F1F1F1;
}

.color-description {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: yellow;
}

/* SECOND COLOR */

/* INSIDE COLOR */
.sienna-circle {
    height: 2rem;
    width: 2rem;
    background-color: #E87C4B;
    border-radius: 50%;
    border: solid black 5px;
}


/* ---------------------------------------------------- */
/* typo */

/* subMenu */
#subMenu_container{
    width: 100%;
    margin-bottom: 5rem;
}
#subMenu_inner{
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.subNav{
    width: 100%;
    height: 6.25rem;
    padding-left: 0;
    margin: 0;
}
.subNav li {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 6.25rem;
}

.subNav li:first-child{
    border-left: solid 1px #bdbdbd;
    border-right: solid 1px #bdbdbd;
    border-bottom: solid 1px #bdbdbd;
    box-sizing: border-box;
}
.subNav li:last-child{
    border-right: solid 1px #bdbdbd;
    border-bottom: solid 1px #bdbdbd;
    box-sizing: border-box;
}

.subNav a{
    display: block;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.subNav a:hover{
    color: #5769DF;
}

ul {
    list-style: none;
    display: block;
}

.fredoka{
    font-family: 'Fredoka One', cursive;
    
}
.typo_content > p, h1{
    margin-left: 6.25rem;
}
.typo{
    font-size: 48px;
    margin-top: 3.75rem;
}

.typo_content > h1 {
    font-size: 144px;
}
.reason, .usage {
    font-size: 38px;
    margin-bottom: 6rem;
}

.examples{
    font-size: 40px;
    margin-bottom: 4.375rem;

}

.fredoka_logo {
    color: #5769DF;
    margin-top: 10rem;
}
.eg_text {
    margin-left: 6.25rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}
.fredoka_second {
    background-color: #5769DF;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.color_examples{
    margin-left: 6.25rem;
}
.circle{
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-right: 6.25rem;
    margin-bottom: 6.25rem;
    justify-content: baseline;
}

.text{
    margin-right: 6.25rem;
    align-items: center;
}

.text > p{
    margin-top: 0;
    margin-bottom: 0.6rem;
    text-align: center;
}
.purple{
    font-size: 36px;
}
.white{
    font-size: 32px;
}
.blackFirst{
    font-size: 30px;
}
.blackSecond{
    font-size: 25px;
}

.purple_bg{
    background-color: #5769DF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.white_bg{
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.black_bg{
    background-color: #393939;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}